@import url('https://fonts.googleapis.com/css?family=Kanit|The+Girl+Next+Door');

.App {
  color: rgb(47, 45, 48)
}

.App-header {
	text-align: center;
  min-heigh: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'The Girl Next Door', cursive;
  font-size: calc(20px + 2vmin);
}



.App-body {
	text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kanit-thin', sans-serif;
  font-weight: 100;
  min-width: 80vw;
    font-size: calc(9px + 2vmin);
}

.App-announce {
	width: 80vw;
}

svg.App-down {
	width: 8vw;
	margin: 8vh 8vw;
}

.App-faq {
	margin: 10vh 0vh;
	text-align: left;
	width: 90vw;
}
