@import url('https://fonts.googleapis.com/css?family=Kanit|The+Girl+Next+Door');

.App {
  color: rgb(47, 45, 48)
}

.App-header {
  background-color: purple;
	text-align: center;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-family: 'The Girl Next Door', cursive;
  font-size: calc(16px + 2vmin);
}



.App-body {
	text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kanit-thin', sans-serif;
  font-weight: 100;
  min-width: 80vw;
    font-size: calc(10px + 2vmin);
}

.App-announce {
  align-items: center;
  justify-content: center;
margin: 5vh 4vw;
  width: 80vw;
  height: 80vh;
}

svg.App-down {
  align-self: flex-end;
	width: 8vw;
	margin: 8vh 8vw;
}

.App-faq {
	margin: 10vh 20vw;
	text-align: left;
	width: 90vw;
}
